/Work/.idea/
/Work/Testing.iml
/Work/Work.iml
/Work/Testing/target/
/Work/Jpa/target/
/Work/Jpa.iml
/Work/Collections/target/
/Work/Spring/target/
/Work/Spring.iml
/Work/Spring/Spring.iml
/Work/Spring/Security/target/
/Work/Security.iml
.DS_STORE
/Work/Spring/Rest/target/
/Work/Spring/Bonus.iml
/Work/Spring/Boot.iml
/Work/Spring/Collections.iml
/Work/Spring/SpringMVC.iml
/Work/Spring/Boot/target/
/Work/Spring/Crud/target/
/Work/Bonus/SpringMVC/target/
/Work/Bonus.iml
/Work/SpringMVC.iml
